@model CategoryModel
@{
    ViewData["Title"] = "EditCategory";
}

<h1>Kategori Güncelle</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Admin" asp-action="EditCategory" method="post">
            <input type="hidden" name="categoryId" value="@Model.Id" />
            <div class="form-group row">
                <label asp-for="Name" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input asp-for="Name" value="@Model.Name" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-10 offset-md-2">
                    <button type="submit" class="btn btn-outline-info">Kaydet</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-8">
        @if (Model.Products.Count > 0)
        {
            <table class="table table-bordered" style="text-align:center">
                <thead>
                    <tr>
                        <td style="width:30px;">Id</td>
                        <td style="width:100px;">Image</td>
                        <td style="width:100px;">Name</td>
                        <td style="width:15px;">Price</td>
                        <td style="width:100px;">Edit</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.Products)
                    {
                        <tr>
                            <td>@product.Id</td>
                            <td>
                                <img src="~/img/@product.ImageUrl" width="100" />
                            </td>
                            <td>@product.Name</td>
                            <td>₺@product.Price</td>
                            <td>
                                <a class="btn btn-outline-info btn-sm mr-2" href="/admin/products/@product.Id">Güncelle</a>
                                <form action="/admin/deletefromcategory" method="post" style="display:inline">
                                    <input type="hidden" name="productId" value="@product.Id" />    
                                    <input type="hidden" name="categoryId" value="@Model.Id" />
                                    <button type="submit" class="btn btn-outline-danger btn-sm">Sil</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-warning">
                <h4>Eklenmiş Ürün Yok</h4>
            </div>
        }






    </div>
</div>
